<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.teamandroid">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.TeamAndroid">
        <activity android:name=".InfosSupprimerActivity"></activity>
        <activity android:name=".InfosModifierActivity" />
        <activity android:name=".InfosOneAgentActivity" /> <!-- Liste des Agents -->
        <activity android:name=".ListAgentActivity" /> <!-- Plash Activity -->
        <activity android:name=".EndInfosAgentActivity" /> <!-- Etape 4 -->
        <activity android:name=".InfosAgentActivity3" /> <!-- Etape 3 -->
        <activity android:name=".InfosAgentActivity2" />
        <activity
            android:name=".TakePictureActivity2"
            android:label="@string/title_activity_take_picture2" /> <!-- Etape 2 -->
        <activity android:name=".InfosAgentActivity" /> <!-- Etape 1 -->
        <activity android:name=".TakePictureActivity" /> <!-- Plash Activity -->
        <activity
            android:name=".ProgressBarActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" /> <!-- Login Activity -->
        <activity
            android:name=".LoginActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" /> <!-- Plash Activity -->
        <activity
            android:name=".MainActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>